body {
    background-color: black;
}

.school-logo {
    border-radius: 100%;
    width: 50px;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-left: 15px;
}

.school-logo-word {
    text-align: center;
    text-decoration: none;
    position: absolute;
    margin-top: 16px;
    font-size: 30px;
    color: #D0AE6C;
    font-weight: 700;
    text-decoration-style: solid;
    font-family: NTR;
    margin-left: 10px;
}

.second-nav ul li {
    display: inline-block;
    margin-right: 16px;
    font-family: Arial, sans-serif;
    font: 1em sans-serif;
}

.second-nav ul li a {
    list-style: none;
    text-decoration: none;
    color: #D0AE6C;
}

.welcome-text {
    color: white;
    margin-left: 17px;
    margin-top: 30px;
    font-family: sans-serif;
}

.welcome-content {
    color: #D0AE6C;
    margin-top: 40px;
    font: 1em sans-serif;
}

.welcome-content-2 {
    color: #D0AE6C;
    font: 1em sans-serif;
}

hr {
    border-top: 1px solid rgb(180, 171, 171);
    opacity: 0.7;
}

.container-1 {
    padding-right: 30px;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.event-img,
.exct-img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin-left: 40px;
}

footer {
    margin-top: 60px;
    text-align: center;
    color: rgb(204, 214, 246);
    font-size: 15px;
    font-family: NTR, sans-serif;
}